---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostList from '../../components/PostList.astro';
import { SPACES } from '../../consts';

const posts = (await getCollection('product'))
  .filter((p) => !p.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<BaseLayout title={SPACES.product.name} description={SPACES.product.blurb}>
  <h1>{SPACES.product.name}</h1>
  <p class="lead">{SPACES.product.blurb} <a href="/product/rss.xml">RSS</a></p>
  <PostList posts={posts} basePath="/product/" />
</BaseLayout>
