---
import type { CollectionEntry } from 'astro:content';
import type { SpaceId } from '../consts';
import { spaceMeta, formatDate } from '../lib/site';

interface Props {
  posts: CollectionEntry<SpaceId>[];
  space: SpaceId;
}
const { posts, space } = Astro.props;
const base = spaceMeta(space).path;
---
<ul class="post-list">
  {posts.map((post) => (
    <li class="post-list-item">
      <a class="post-list-title" href={`${base}${post.id}/`}>{post.data.title}</a>
      <span class="date">{formatDate(post.data.date)}</span>
      {post.data.description && <p class="excerpt">{post.data.description}</p>}
      {post.data.tags.length > 0 && (
        <div class="tag-list">
          {post.data.tags.map((tag) => (
            <a class="tag" href={`${base}tags/${tag}/`}>{tag}</a>
          ))}
        </div>
      )}
    </li>
  ))}
</ul>
